.webmail-form-input {
  background-color: transparent !important;
  border: none !important;
}

.wordpress-webmail-access-btn {
  color: #204355 !important;
  font-size: 15px !important;
}

.wordpress-webmail-access-btn span {
  color: #204355 !important;
}
